.first{
    box-sizing: border-box;
    border-color: red;
    background-color: rgb(208, 245, 123);
    color: rgb(0, 5, 140);
}

.Second{
    box-sizing: border-box;
    border-color: rgb(229, 42, 42);
    background-color: rgb(123, 223, 245);
    color: rgb(255, 255, 255);
}



 .Second>p{
    background-color: rgb(81, 81, 81);
    margin: 20px;

} 

.third{

     box-sizing: border-box;
    border-color: rgb(235, 101, 18);
    background-color: rgb(151, 245, 145);
    color: rgb(49, 3, 84);
    

}